.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 0;
    gap: 20px;
}

.grid_item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.grid_item select {
    outline: none;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.btn_generate {
    all: unset;
    border: 1px solid rgb(255 255 255 / .25);
    box-shadow:  0px 2px 2px 0px rgb(255 255 255 / .25);
    font-size: x-large;
    padding: 10px;
    text-transform: uppercase;
}

.btn_generate:hover {
    cursor: pointer;
}